<%- include('../../layouts/layoutStart.ejs', {title: title}) %>

<div class="container">
  <%- include('../../components/nav.ejs') %>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src=<%- book.fileCover %> class="img-fluid rounded-start">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= book.title %></h5>
          <p class="card-text"><%= book.description %></p>
          <p class="card-text"><%= book.authors %></p>
          <p class="card-text"><small class="text-muted"><%= book.favorite %></small></p>
          <a class="btn btn-primary" href=<%- book.favorite %> download=<%- book.title %> >Скачать</a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../../layouts/layoutEnd.ejs') %>